body {
    background: url('Backgroundhomepage.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.Title {
    text-align: center;
    font-size: 40px;
    margin-right: -700px;
}
a.logout {
    color: #337ab7;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}
a.logout:hover {
    text-decoration: underline;
}
.datatablecontainer {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 0.5em;
    font-size: 0.8em;
}
div.dataTables_wrapper div.dataTables_length,
div.dataTables_wrapper div.dataTables_filter {
    margin-bottom: 0.5em;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 0.5em 0;
}